name: Bot Clima Telegram

on:
  schedule:
    - cron: '0 11,14,18,21 * * *'   # 08h, 11h, 15h e 18h (horário de Brasília)
  workflow_dispatch:

jobs:
  executar-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: |
          pip install --upgrade pip
          pip install requests pandas matplotlib python-telegram-bot pytz

      - name: Executar script
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          LOCATION: ${{ secrets.LOCATION }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python clima_bot_v2.py
